*{
    margin:0;
    padding:0;
}

/*pc表示*/
.header{
    background-color:#fa8072;
    height:120px;
    display:flex;
}

.headerFAQ{
    color:white;
    font-size:30px;
    font-family:serif;
    margin-top:50px;
    margin-left:400px;

}

.headerKiyaku{
    color:white;
    font-size:30px;
    font-family:serif;
    padding-top:50px;
    padding-left:100px;
}

.headerLogo{
    height:100px;
    padding-top:7px;
    padding-left:200px;
}

.headerMission{
    color:white;
    font-size:30px;
    font-family:serif;
    padding-top:50px;
    padding-left:100px;
}

/*Hero*/

.background{
    height:750px;
    background-image: url("./Image/wakusei-concept-art.png");
    background-size:cover;/*画面一杯に表示*/
    background-attachment:fixed;/*画面固定*/
}

.background::before{
    animation-name:fade;
    animation-duration:5s;
    animation-fill-mode:forwards;
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    top:1000;
    right:0;
    bottom:1000;
    left:0;
    content:" ";
    height:750px;
}

.DiscordLogo{
    position:absolute;
    height:100px;
    top:230px;
    left:100px;
    animation-name:fade;
    animation-duration:1s;
}

.title{
    color:white;
    position:absolute;
    font-family:serif;
    font-size:250px;
    top:300px;
    left:130px;
    font-weight:bold;
    animation:fade;
    animation-duration:3s;
}

/*HomeMain*/
.homeContent1{
    font-family:"yurumoji",sans-serif;
    text-align:center;
    position:relative;
    margin-top:250px;
}

.homeAlien1{
    position:relative;
    height:150px;
    top:250px;
    right:160px;
}

.homeAlien2{
    position:relative;
    height:150px;
    top:300px;
    left:150px;
}

.homeContent1 h2{
    position:relative;
    margin:20px;
}

.homeContent2{
    font-family:"yurumoji",sans-serif;
    text-align:center;
    margin-top:250px;
    position:relative;
}

.homeAlien3{
    position:relative;
    height:150px;
    top:240px;
    right:170px;
}

.homeAlien4{
    position:relative;
    height:150px;
    left:170px;
    top:270px;
}

.homeContent2 h2{
    margin:20px;
}

.homeContent3{
    font-family:"yurumoji",sans-serif;
    text-align:center;
    margin-top:250px;
    position:relative;
}

.homeAlien5{
    position:relative;
    height:150px;
    top:250px;
    right:170px;
}

.homeAlien6{
    position:relative;
    height:150px;
    top:180px;
    left:170px;
}

.homeContent3 h2{
    margin:20px;
}

.EveryOneWaiting{
    text-align:center;
    font-family:"yurumoji";
    margin:500px;
}

@keyframes fade {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@font-face{
    font-family:"yurumoji";
    src:url("./Font/yurumoji.ttf") format("truetype");
}